@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}


html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(83, 83, 83);
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: column;
}

.app-title {
  font-size: 2rem;
  margin: 30px;
  color: white;
}

.new-project-btn, .newTaskBtn {
  margin: 0 30px 30px 30px;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(90, 90, 255);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.2s;
}

.new-project-btn:hover, .newTaskBtn:hover {
  background-color: rgb(61, 61, 253);
}

.newTaskBtn {
    margin-top: 33px;
}

.project-list {
  display: flex;
  flex-direction: column;
}

.project h2 {
  color: white;
  margin: 15px 30px;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
  transition: 0.2s;
}

.project h2:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.main-content {
  flex: 1;
  padding: 30px;
  color: white;
  overflow-y: auto;
}

.project-title {
  font-size: 2rem;
  margin-left: 30px;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list {
  margin: 20px 30px;
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  font-size: 1.5rem;
}

#projectDialog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}